<h1>Place Bid</h1>

<form [formGroup]="BidForm" (ngSubmit)="this[EventValue]()">

  Ask:
  <input type="text" formControlName="askformValue">

  <div *ngIf="submitted && BidForm.controls.askformValue.errors" class="text-danger">
    <div *ngIf="BidForm.controls.askformValue.errors.required">Ask is required</div>
  </div>
  <br />
  <br />
  Bid:
  <input type="text" formControlName="bidformValue">
  <div *ngIf="submitted && BidForm.controls.bidformValue.errors" class="text-danger">
    <div *ngIf="BidForm.controls.bidformValue.errors.required">Bid is required</div>

  </div>

  <br />
  <br />
  <button type="submit" class="btn btn-primary">Place Your Bid</button>


</form>

